body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Remove scroll vertical */
}

.container {
    max-width: 1000px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

h1 {
    margin: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#characterInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.character-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.character-input input {
    margin: 5px 0;
    padding: 10px;
    width: 180px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    padding: 15px;
}
